{% extends 'base.html' %}

{% block content %}


<div class="heading">
    <h1 style="font-size:8vw"> Gym Essentials </h1>
</div>


<!-- ######## coming soon items list one########## -->

<div class="item-list1">
    <div>
        <div id="img3-phone">
            <img id="img3" src=static/images/images2/images3/bench.webp alt="Pro Fitness Folding Workout Bench">
        </div>
        <p id="item-list-text">
            <span>
                Pro Fitness Folding Workout Bench
            </span>
            <span class="tag">coming soon</span>
        </p>
    </div>
    <div>
        <div id="img3-phone">
            <img id="img3" src=static/images/images2/images3/tredmill2.jpg alt="JTX SPRINT-5: HOME TREADMILL">
        </div>
        <p id="item-list-text">
            <span>
                JTX SPRINT-5: HOME TREADMILL
            </span>
            <span class="tag">coming soon</span>
        </p>
    </div>

    <div>
        <div id="img3-phone">
            <img id="img3" src=static/images/images2/images3/massagegun.webp alt="Massage Gun Pro">
        </div>
        <p id="item-list-text">
            <span>
                Massage Gun Pro
            </span>
            <span class="tag">coming soon</span>
        </p>
    </div>
</div>

<div class="item-list2">
    <div>
        <div id="img3-phone">
            <img id="img3" src=static/images/images2/images3/preworkout.webp alt="Pre-Workout Orange Mango Passionfruit">
        </div>
        <p id="item-list-text">
            <span>
                Pre-Workout Orange Mango Passionfruit
            </span>
            <span class="tag">coming soon</span>
        </p>
    </div>
    <div>
        <div id="img3-phone">
            <img id="img3" src=static/images/images2/images3/leggings2.webp alt="MP Women's Curve High Waisted Leggings - BlackL">
        </div>
        <p id="item-list-text">
            <span>
                MP Women's Curve High Waisted Leggings - Black
            </span>
            <span class="tag">coming soon</span>
        </p>
    </div>

    <div>
        <div id="img3-phone">
            <img id="img3" src=static/images/images2/images3/gymtop2.webp alt="MP Men's Performance Short Sleeve T-Shirt - Black/Carbon">
        </div>
        <p id="item-list-text">
            <span>
                MP Men's Performance Short Sleeve T-Shirt - Black/Carbon
            </span>
            <span class="tag">coming soon</span>
        </p>
    </div>
</div>

<div class="coming-soon-title">
    <h2><b>ALL ITEMS COMING SOON</b></h2>
</div>

<!-- ################################################################### -->

{% endblock %}