{% extends 'base.html' %}

{% block content %}


<div class="heading">
    <h1 style="font-size:8vw"> Gym Essentials </h1>
</div>

<!-- #########ITEM LIST ONE########### -->

<div class="item-list1">
    <div>
        <div id="img3-phone">
        <img id="img3" src=static/images/images2/dumbbells.webp alt="Dumbbells">
        </div>
        <p id="item-list-text">
        <span>
            2 in 1 20kg/25kg Adjustable Dumbbells Set Weights Training for Home Gym
        </span>
        <span class="tag">£45</span>
        </p>
    </div>
    <div>
        <div id="img3-phone">
        <img id="img3" src=static/images/images2/pullupbar.webp alt="Pull Up Bar">
        </div>
        <p id="item-list-text">
            <span>
            Multi-function Power Tower Dip Station Pull Up Bar with Adjustable Height
            </span>
            <span class="tag">£249.99</span>
        </p>
    </div>

    <div>
        <div id="img3-phone">
        <img id="img3" src=static/images/images2/boxing.jpg alt="Punch Bag">
        </div>
        <p id="item-list-text">
        <span>
            RDX F6 KARA 4FT / 5FT 17-IN-1 PUNCH BAG WITH BAG GLOVES SET
        </span>
        <span class="tag">£355.99</span>
    </p>
    </div>
</div>
<!--  ##########ITEM LIST TWO######## -->

<div class="item-list2">
    <div>
        <div id="img3-phone">
        <img id="img3" src=static/images/images2/mojitoprotein.jpg alt="Mojito Protein Clear Whey Isolate">
        </div>
        <p id="item-list-text">
        <span>
            Mojito Protein Clear Whey Isolate
        </span>
        <span class="tag">£34.99</span>
    </p>
    </div>


    <div>
        <div id="img3-phone">
        <img id="img3" src=static/images/images2/vimtoprotein.jpg alt="Vimto Protein Clear Whey Isolate">
        </div>
        <p id="item-list-text">
        <span>
            Vimto Protein Clear Whey Isolate
        </span>
        <span class="tag">£34.99</span>
    </p>
    </div>

    <div>
        <div id="img3-phone">
        <img id="img3" src=static/images/images2/bloodorangeprotein.jpg alt="Blood Orange Protein Clear Whey Isolate">
    </div>
        <p id="item-list-text">
        <span>
            Blood Orange Protein Clear Whey Isolate
        </span>
        <span class="tag">£34.99</span>
        </p>
    </div>
</div>

<!-- ###########ITEM LIST THREE################ -->

<div class="item-list3">

<div>
    <div id="img3-phone">
    <img id="img3" src=static/images/images2/gymtop.jpg alt="Mens Gym Top">
    </div>
    <p id="item-list-text">
    <span>
        New Balance Mens Running Top Eclipse Navy
    </span>
    <span class="tag">£25</span>
</p>
</div>

<div>
    <div id="img3-phone">
    <img id="img3" src=static/images/images2/leggings.webp alt="Women Gym Leggings">
    </div>
    <p id="item-list-text">
    <span>
        Seamless Sports Leggings
    </span>
    <span class="tag">£20</span>
</p>
</div>

<div>
    <div id="img3-phone">
    <img id="img3" src=static/images/images2/gymitems.webp alt="Multi Use 11 Piece Resistance Band Set - Multi">
    </div>
    <p id="item-list-text">
    <span>
        Multi Use 11 Piece Resistance Band Set - Multi
    </span>
    <span class="tag">£19.99</span>
</p>
</div>
</div>

<!-- ############################# -->

{% endblock %}